
        #container {
            /* border: 1px solid red; */
            width: 100%;
            height: 1000px;
           
        }

        #navbar {
            /* border: 1px solid green; */
            width: 100%;
            height: 100px;


        }

        #digital {
            /* border: 1px solid blue; */
            width: 100%;
            height: 500px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 30px;
            margin: auto;
        }

        

        #sec>img {
            width: 500px;
            height: 400px;
           
            margin-top: 40px;
        }

        #first {
            /* border: 1px solid green; */
            display: grid;
            grid-template-columns: repeat(1, fr);
            grid-template-rows: repeat(3, 1fr);
             margin-left: 130px;
            padding: 50px;
        }

       

        #img {
            height: 30px;
            width: 30px;
        }

        button {
            width: 250px;
            height: 60px;
            border-radius: 20px;
            background-color: #0088ff;
            color: white;
            text-decoration-color: #fb8c00;
           


        }
       #but {
        text-decoration: none;
       }

        button:hover {
            background-color: #dbeeff
        }

        #p {
            width: 500px;
            height: 50px;
        }

        #but {
            display: inline-block;
        }

        #h {
            width: 600px;
            height: 100px;


        }

        #all_div {
            display: block;
            margin: auto;
            padding-top: 4rem;
            margin-bottom: 20px;
        }

        .all_options {
            margin-right: auto;
            margin-left: auto;
            padding-right: 15px;
            padding-left: 15px;
            width: 100%;
            display: block;
        }

        .row {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            gap: 20px;
            width: 80%;
            margin: auto;
            
        }
        
        #col-content{
            display: flex;
            margin: auto;
            border-radius: 15px;
            box-shadow: 4px 3px 8px 1px #969696;
            flex-wrap: wrap;
            width: 90%;
            height: 100%;
            
        }
        
        .logo{
            
            text-align: center;
            padding: 3rem 4.3rem;
            background-color: #fff;
            border-radius: 25px;
            box-shadow: 0 25px 50px 0 rgb(101 105 167 / 4%);
            display: block;
            width: 40px;
            height: 40px;
            margin: auto;
        }

        .logo > img{
            max-width: 60px;
            min-width: 60px;
        }
        
        .text {
            margin-top: 1.5rem;
            text-align: center;
            color: black;
        text-decoration-line: none;
        }
        #col-content > a{
            text-decoration: none;
        }
        #bottom {
          background-color: #dcedc8;
         padding-left: 80px;
            width:75%;
            height: 320px;
            margin: auto;
            margin-top: 100px;
            text-align: center;
            line-height: 40px;
            border-radius: 25px;
           
        }
        #id{
            display: block;
        }
        
        #button-cont{
            display: flex;
            gap: 20px;
            margin-left: 300px;
        }
        #btn{
          background-color:#fb8c00 ;
          border-radius: 25px;
          height: 40px;
          width: 200px;
        }
        #btn:hover{
            background-color:teal;
        }
        #btn1:hover{
            background-color:rgb(50, 224, 140);
        }
        #btn1{
            background-color: white;
          border-radius: 25px;
          color: black;
          height: 40px;
          width: 200px;

        }
        #deco{
            display: flex;
            column-gap: 70%;
            margin-left: 15%;
            align-content: space-between;
           
        }
        #dec4{
            display: flex;
            align-content: flex-start;
            padding-left: 10%;
        }
        #dec3{
            display: flex;
            align-content: flex-end;
            padding-left: 15%;
        }

        
    