div{
    display: block;
  }
  body{
    font-family: 'Poppins', sans-serif;
    margin-left:20px;
    color: #3e3e3e;
  }
  .container{
    width:750px;
    
    height: 826;
    float:left;
    margin: 200px 0 0 0;
  }
  .btn-1,.btn-2,.btn-3{
    width: 210px;
    height: 170;
    margin-right: 10px;
    padding-bottom: 15px;
    border-radius: 8px;
    outline: none;
    cursor:pointer;
    background-color: transparent;
    border:1px solid #d6d6d6;
    float:left
  }
  .btn-1:hover,.btn-2:hover{
      background-color: #e0e0e0 ;
  }
  .btn-3:hover{
    background-color: #d6d6d6;
  }
  .plan-boxes{
      width:100%;
      height: 175px;
      
  }
.button-p{
    position: relative;
    font-weight: bold;
    float:left;
    left:66px;
    font-size: 21px;
    margin-top:-9px
}
.button-h5{
  font-size: 19px;
  font-weight: 500;
 
}
.button-h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 5px;
    position: relative;  
}
.button-p1{
    font-size:12px;
    line-height: 19px;
    font-weight: 400;
    color:#959292;
}
.btn-1:active, 
 .btn-1:focus ,
 .btn-2:active, 
 .btn-2:focus 
 {
     background-color: #4bb063;
     color:white;
     outline: none;
     border:1px solid#4bb063;
  }
  .btn-3:active, 
 .btn-3:focus {
    background-color: #e8f7d2;
    color:#4bb063;
    outline: none;
    border:1px solid#4bb063;
 }
 .bill-buttons{
  width: 100%;
  outline: none;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
 }
 .bill-btn1, .bill-btn2{
  width:318px;
  height: 38px;
  margin-right: 10px;
  margin-top:30px;
  background-color: transparent;
  border: 1px solid #d6d6d6;
  outline:none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
 }
 .bill-btn1:hover, .bill-btn2:hover{
  background-color: #e0e0e0 ;;
 }
 .bill-btn1:active, 
 .bill-btn1:focus,
 .bill-btn2:active, 
 .bill-btn2:focus {
    background-color:#4bb063;
    color:white;
    outline: none;
    border:1px solid#4bb063;
 }
 label{
  font-weight: 500;
}
 
 .no-of-seats>input{
   float:left;
   height: 32px;
   width: 160px;
   text-align: center;
   background-color:#f8f8f8;
   border: 1px solid #f8f8f8;
   outline:none;
   border-radius:8px;
 }
 .no-of-seats>input+p{
   margin-top:23px;
 }
 .input:active, 
 .input:focus
 .no-of-seats>input:active, 
 .no-of-seats>input:focus {
    border:1px solid#4bb063;
 }
 .input{
  background-color:#f8f8f8;
  border: 1px solid #f8f8f8;
  outline:none;
  height: 32px;
  width:225px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
 }
 .billing-address{
  display:flex
 }
 .billing-address>div,.billing-address1>div{
   margin-right:10px;
   display:grid
 }
 .billing-address>div>p{
   font-weight:600;
   font-size: 14px;
 }
 .billing-address>h3{
   margin-top:40px
 }
 .select-payment>div{
  display: flex;
 }
 .select-payment>div>input{
  margin-top:18px
 }
 .select-payment>div>p{
   font-weight:700;
   font-size:14px;
 }
 .select-payment>div>input+img{
   height:50px;
 }
 .select-payment>div>p+img{
   height:20px;
   margin-top:15px;
  }
  .select-payment>button{
    height:40px;
    width:230px;
    background-color:#4bb063;
    color:white;
    outline: none;
    border:1px solid#4bb063;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    margin-top:20px
  }
  .about-payment>p{
      font-size:13px;
      color:rgb(179, 179, 179);
      font-weight:400px;
      width:95%;
  }

  .container-2{
    width:400px;
    height: auto;
    float:right;
    margin-left:20px;
    margin: 200px 0 0 0;
  }
  .what-u-get,.summary{
    width:370px;
    height:auto;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
  }
  .what-u-get>div{
    display: flex;
    margin-bottom:-20px;
  }
  .what-u-get>div>img{
    width:25px;
    height:30px;
    border-radius:50px;
    margin-left: 20px;
  }
  .what-u-get-p{
   position: relative;
   margin-left: 10px;
   top:-10px;
   color: #797979;
   font-weight: 500;
}
.users-p{
  background-color:#ebf5fb;
  border-radius: 8px;
  padding: 2px;
  font-size:90%;
  margin:10px 12px;
  width: 92%;
}
.per-user,.charge,.users{
  font-size:90%;
  margin:10px 10px;
  width: 90%;
  padding:2px;
  border-bottom:1px solid #797979;
  display:flex;
}
.suummery-h4{
 position: relative;
 left:50px;
 top:-5px;
}
.suummery-h3{
  position: relative;
  left:40px;
  top:-5px;
}

 .summary-p{
    font-size:85%;
    margin-left:10px;
  }
.payment-history{
    width:370px;
    height: auto;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    font-size: 12px;
}
.payment-history>div>h4{
  text-align: center;
  color: #797979;
}
th{
  padding-left:37px;
  padding-right:37px;
  padding-top:20px
}
table{
  margin-left:10px;
}

.settingNavbar{
  display: flex;
  border: rgb(221, 221, 221) 0.5px solid;
  width: 100%;
  height: 100px;
}
.settingNavbar > div {
  border: rgb(221, 221, 221) 0.5px solid;

}
/* **********************
 */

 
 body{
  background-color: rgb(255,255,255);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.nav-bar {
  width: 100%;
  height: 100px;
  /* border: 1px red solid; */
  display: flex;
  color: rgb(83, 83, 83);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
  /* background-color: rgb(221, 220, 220); */
 
}
.nav-bar > div > p{
  cursor: pointer;
}
.nav-bar > div > p:hover {
  color:  rgb(75,176,99);
  text-decoration: underline;
}

.logo{
  /* border: solid 1px green; */
  width: 3%;
  height: 100px;
  padding: 0 2%;
}
.logo img {
  height: 34px;
  margin: 16px 0;
}
.reports,.projects {
  /* border: solid 1px green; */
  width: 6%;
  height: 100px;
  padding: 0 1.5%;
}
.timesheet{
  /* border: solid 1px green; */
  width: 7%;
  height: 100px;
  padding: 0 1.5%;
}
.computer-time{
  /* border: solid 1px green; */
  width: 10%;
  height: 100px;
  padding: 0 1%;
}



/* ********* */

body{
  background-color: rgb(255,255,255);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.nav-bar {
  width: 100%;
  height: 100px;
  /* border: 1px red solid; */
  display: flex;
  color: rgb(83, 83, 83);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
  /* background-color: rgb(221, 220, 220); */
 
}
.nav-bar > div > p{
  cursor: pointer;
}
.nav-bar > div > p:hover {
  color:  rgb(75,176,99);
  text-decoration: underline;
}

.logo{
  /* border: solid 1px green; */
  width: 3%;
  height: 100px;
  padding: 0 2%;
}
.logo img {
  height: 34px;
  margin: 16px 0;
}
.reports,.projects {
  /* border: solid 1px green; */
  width: 6%;
  height: 100px;
  padding: 0 1.5%;
}
.timesheet{
  /* border: solid 1px green; */
  width: 7%;
  height: 100px;
  padding: 0 1.5%;
}
.computer-time{
  /* border: solid 1px green; */
  width: 10%;
  height: 100px;
  padding: 0 1%;
}






.timesheet p,.projects p,.reports p,.computer-time p{
  margin: 20px 0px;
}
.settings {
  /* border: solid 1px green; */
  width: 6%;
  height: 100px;
  padding: 0 1%;
  margin-left: 330px;
}
.support{
  /* border: solid 1px green; */
  width: 3%;
  height: 100px;
  padding: 0 1%;
  /* margin-left: 330px; */
}
.profile{
  /* border: solid 1px green; */
  width: 12%;
  height: 100px;
  padding: 0 1%;
  
}
.profile i{
  position: relative;
  top: 17px;
  font-size: 47px;
}
.profile p{
  position: relative;
  top: -30px;
}


/* .......All The Dropdown properties ...........*/



.computer-dropdown-content,.support-dropdown-content ,.profile-dropdown-content,.more-dropdown-content,.project-dropdown-content{
  display: none;
  position: absolute;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
  border-radius: 12px;
  padding: 10px 5px;
}
.support-dropdown-content{
    position: relative;
    left: -170px;
    min-width: 200px;
}

.computer-dropdown-content a,.support-dropdown-content a,.profile-dropdown-content a,.more-dropdown-content a,.project-dropdown-content a{
  color: grey;
  padding: 6px 16px;
  text-decoration: none;
  border-radius: 12px;
  display: block;
 
}
.support-dropdown-content u{
  padding: 6px 16px;
  margin-left: 20px;
  font-size: 11px;
  font-weight: 400;
}
.computer-dropdown-content a:hover,.support-dropdown-content a:hover,.profile-dropdown-content a:hover ,.more-dropdown-content a:hover,.project-dropdown-content a:hover{
    background-color: rgb(75,176,99);
    color: white;
  }
  .more-dropdown-content,.project-dropdown-content{
      z-index: 2;
  }
  .project-dropdown-content{
     margin-top: 20px;
  }
.computer-time:hover .computer-dropdown-content {display: block; }

.support:hover .support-dropdown-content {display: block;}
.profile:hover .profile-dropdown-content {display: block;}


