body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 100px;
    border: 1px solid grey;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
    
        position: sticky;
        left: 0%;
        right: 0%;
        top: 0%;
        z-index: 1030;
    

}
.navbarin{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.navbarin>img{
    width: 12%;
   /* padding-top: 20px;
   padding-left: 50px; */
}
.first>button{
    padding: 10px 50px;
    border-radius: 46px;
    background-color: #25cf60;
    color: #fff;
    border: 1px solid white;
}
.first{
    /* border: 1px solid red; */
    width: 65%;
    margin:  auto;
    font-size: large;
    padding: 3%;
    margin-left: 80px;
    padding-bottom: 30px;
    /* height: 200px; */
    

}
.first>h1{
    font-weight: bold;
    font-size: 50px;
}
.login__left{
    width: 60%;
   /* border: 1px solid green; */
   /* margin-top: 1%; */
   /* background-color: transparent; */

}

.second{

    width: 85%;
    height: 300px;
    display: flex;
    margin:  auto;
    margin-left:9%;
    /* border: 1px solid teal; */
    margin-top: 2%;
    /* justify-content: space-around; */
    size: 40px;
    /* padding: 5%; */

}
.second div{
    /* margin-left: 5%; */
    font-size: 20px;
    padding: 10px;
    padding-right: 70px;
    line-height: 25px;
}



.login{
   display: flex;
   margin-top: 6%;
}

.login__right{
    width: 30%;
    position: relative;
    /* border: 1px solid red; */
    
    border-radius: 5%;
    text-align: center;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login__right>button{
    width: 80%;
    background-color: #fff;
    border: 1px solid white;
    padding: 2%;
    font-size: 20px;
    border-radius: 4%;
    

}
.login__right>button>img{
    font-size: 40px;
}

.login__right>form{
    padding-top: 20px;
    /* border: 1px solid green; */
    width: 80%;
    margin: 3% auto;
    
}
#email{
    margin: 5%;
    width: 90%;
    font-size: 20px;
    padding: 5px;
}
#password{
    margin: 5%;
    width: 90%;
    font-size: 20px;
    padding: 5px;
}
#phone{
    margin: 5%;
    width: 90%;
    font-size: 20px;
    padding: 5px;

}

.login__right>form input{
    border: 1px solid #e9e9e9;
    background-color: transparent;
    color: #767676;
}
.login__right>form p{
    color: #25cf60;
    text-decoration-line:underline;

}
#submit{
    
    padding: 15px 40px;
    margin-top: 2rem;
    background-color: #25cf60;
    border-radius: 26px;
    color: #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
    


.lower a{

    color: #25cf60;
    text-decoration: none;
}

.lower{
    
    width: 70%;
    margin: auto;
}
.lower p{
    word-spacing: 0;
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


#right_top{
    /* border: 1px solid red; */
    width: 85%;
    margin: auto;
}

#g_btn{
    width: 80%;
    margin: auto;
    border-radius: 7px;
    padding: 7px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid rgb(171, 162, 162);
    display: flex;
    justify-content: space-evenly;

}
#g_btn:hover{
    background-color: rgba(100, 100, 111, 0.2);
}

.icon img{
    width: 20%;
    margin-right: 0;
    margin-right: 5rem;
    width: 75px;
    height: 100px;
    vertical-align: middle;
    border: none;
}
.icon{
    margin: auto;
    /* border: 1px solid red; */
    width: 83%;
}
